---
---
:ruby

  def keywords
    if is_front_page?
      tag_set.join(', ') 
    else
      if @item[:tags]
        tags = @item[:tags].nil? ? '' : @item[:tags].join(', ') 
      else
        tags = [""]
      end
      keywords = @item[:keywords] || ''
      [keywords, tags].join(', ')
    end
  end
  
  def link_unless_current(s)
    "<li><a href='/#{s}.html'>#{s}</a></li>" if @item.identifier != "/#{s}/" 
  end
  def logo
    if is_front_page?
      site_name
    else
      "<a href='/'>&laquo; #{site_name}</a>"
    end
  end

!!! Strict
%html
  %head
    %title= "#{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(name="keywords" content="#{keywords}")
    %meta(name="description" content="#{@item[:excerpt]}")
    %link(href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css")

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    #main
      #header 
        .logo
          = logo
        #nav
          %ul
            != link_unless_current "about"
            != link_unless_current "archives"
            != link_unless_current "tags"
      #articles
        - if @item[:kind] == 'article'
          = render('_article', :item => @item, :content => content)
          = render('_other_articles_nav', :reference_item => @item)
        - else
          = content
      #footer
        .link
          %a{:href => "http://flickr.com/unthinkingly"} 
            flickr.com/unthinkingly
        .link
          %a{ :href => "http://twitter.com/unthinkingly"} 
            twitter.com/unthinkingly
        .link
          %a{ :href => "http://pinboard.in/u:unthinkingly"} 
            pinboard.in/u:unthinkingly

        #taglist
          - tags = count_tags()
          - tags.each.sort_by {|k,v| k}.each do |tag_count|
            - tag = tag_count[0]
            %a{ :href => "/tags/#{tag}/", :class => 'tag'}
              = tag