---
---

<html>
  <head>
    <title><%= @item[:title] %></title> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="description" content="<%= @item[:excerpt] %>"> 
    <link href="/assets/css/style.css" media="screen" rel="stylesheet" type="text/css">

  </head>
  
  <body>
    <div class="site-name"> 
      <%= site_name_with_back_button %> 
      <img width="100" src="/assets/images/cb.png" title="Chris Blow" />
    </div>

    <div class="content">
      <% if @item[:kind] == 'article' %>
        <%= render('_article', :item => @item, :content => yield) %>
        <%= render('_other_articles_nav', :reference_item => @item) %>
      <% else %>
        <div class="articles">
          <%= content %>
        </div>
      <% end %>
    </div>

    <div class="tags">
      <ul>
        <% tags = count_tags() %>
        <% tags.sort_by{|k,v| k}.each do |tag_count| %>
          <% tag = tag_count[0] %>
          <% count = tag_count[1] %>

            <li class="<%= "count-#{count} tag #{tag}" %>">
              <a href='/tags/<%= tag %>/'>
                <%= tag %>&middot;<em><%= count %></em>
              </a>
            </li>
          <% end %>
      </ul>
    </div>
  </body>
</html>