---
pageable: false
---
<h1>
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e %Y') %></span></li>
  <% end %>
</ul>