---
title: unthinkingly
---

<div class="hello">
  <h2>Hello!</h2>
  <p>This is a blog by Chris Blow. I am a designer at <a href="http://meedan.com">Meedan</a>. The source code (ruby, middleman) and plaintext (markdown) for this site is <a href="https://github.com/unthinkingly/unthinkingly-blog">on github.com</a>.</p>
</div>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <h2><%= article.title %></h2>
  <%= article.body %>
<% end %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>