<html>
  <%= partial "head" %>
  <body class="<%= page_classes %>">
    <h1>
      <%= "<a class='nav--home' href='/' title='home'/>unthinkingly</a>" %>
    </h1>
    <main role="main">
      <% if current_article != nil %>
        <article>
          <%= "<h2>#{current_article.title}</h2>" %>
          <%= yield %>
        </article>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <nav>
      <%= partial "posts_by_tag" %>
    </nav>
  </body>
</html>
